@model U2S2E3.Models.Utente

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<!--uso beginform per creare un form che invia i dati al metodo Register del controller Account-->
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <label for="username">Username:</label>
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)

    <label for="password">Password:</label>
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)

    <input type="submit" value="Register">
}

@Html.ValidationSummary()