@model U2S2E3.Models.Utente

@{
    ViewBag.Title = "Register";
}

<h2>Registrati</h2>

<!--QUA METTO IL VIEWBAG.ERROR-->
@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


<!--uso beginform per creare un form che invia i dati al metodo Register del controller Account-->
<!--formmethod.post serve per inviare i dati al server-->

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <!--creo label per username e password con TextBoxFor che serve per creare un input di tipo text e ValidationMessageFor per mostrare eventuali errori-->

    <!--model => model.Username serve per associare il campo username al modello Utente -->
    <label for="username">Username:</label>
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)

    <label for="password">Password:</label>
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)

    <input type="submit" value="Registrati" class="btn btn-success">
}

<!--ValidationSummary serve per mostrare eventuali errori di validazione -->
@Html.ValidationSummary()